*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 100rem;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: none;
    box-sizing: border-box;

}
/* ul in navbar*/
.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 100%;
    margin-left: 31.5%;
}

/*from left to right*/
.navbar li {
    text-align: center;
}

/*buttons*/
.TypologiesButton {
    padding: 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
}

.enneagramButton {
    padding: 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
}

.TestsButton {
    padding: 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
}

.MBTIButton {
    padding: 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
}
.typingsButton {
    padding: 30px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
}
.homeButton {
    padding: 29px;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: black;
    color: white;
    margin-left: 29rem;
}

/*underline Home button*/
.homeButton:after {
    content: "";
    position: absolute;
    background-color: hsl(38, 100%, 67%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.homeButton:hover:after {
    width: 100%;
    color: white;
}

/*underline Typings*/
.typingsButton:after {
    content: "";
    position: absolute;
    background-color: hsl(194, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.typingsButton:hover:after {
    width: 100%;
    color: white;
}

/*underline MBTI*/
.MBTIButton:after {
    content: "";
    position: absolute;
    background-color: hsl(278, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.MBTIButton:hover:after {
    width: 100%;
    color: white;
}

/*underline Enneagram*/
.enneagramButton:after {
    content: "";
    position: absolute;
    background-color: hsl(116, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.enneagramButton:hover:after {
    width: 100%;
    color: white;
}

/*underline Jungian*/
.jungianButton:after {
    content: "";
    position: absolute;
    background-color: hsl(0, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.jungianButton:hover:after {
    width: 100%;
    color: white;
}

/*underline Typologies*/
.TypologiesButton:after {
    content: "";
    position: absolute;
    background-color: hsl(155, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.TypologiesButton:hover:after {
    width: 100%;
    color: white;
}

/*underline Tests*/
.TestsButton:after {
    content: "";
    position: absolute;
    background-color: hsl(55, 100%, 84%);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.TestsButton:hover:after {
    width: 100%;
    color: white;
}

/*Home*/
#welcomeMessage{
    text-align: center;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 25px;
    background-color: #000000;
    padding: 20px;
    margin-right: 60px;
}
@keyframes rainbow {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    75% {
        color: blue;
    }
    60%{
        color: indigo;
    }
    85%
    {
        color: purple;
    }
    100%{
        color: red;
    }
}
#name{
    color: white;
    padding: 10px;
    margin-right: 100%;
}
