:root{
    --myHeight: 1600px;
    /*--myWidth: 1630px;*/
    --myWidth: 50%;
}
article{
    color: black;
}
body{
    background-color: white;
    /*font-family: 'Comic Neue', cursive;*/
    font-family: 'Luckiest Guy', cursive;
    color: white;
}
.bold-text{
    font-weight: bold;
}
.italic-text{
    font-style: italic;
    font-size: small;
}
.pics{
    max-width: 150px;
    height: auto;
    border-radius:20px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
div ul{
    margin-left: 50px;
}
.paragraph{
    color: #2a2a37;
}
p{
    font-size: larger;
}
.containers{
     height: var(--myHeight);
     background-color: #2a2a37;
     border-radius:20px;
     padding: 50px;
    margin: 20px;
    width: var(--myWidth);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 }
.outside:hover{
    transform: scale(1.005);
}
h1{
    text-align: center;
}
h2{
    margin-left: 15px;
}
.quote{
    font-style: italic;
    font-size: 20px;
}
.Warning{
    font-style: italic;
    font-size: 30px;
    color: red;
    align-items: center;
    padding-top: 50px;
}
.example{
    font-weight: bold;
}
.largeParagraph{
    margin: 20px;
}
.containerGerman{
    height: var(--myHeight);
    background-color: #2a2a37;
    border-radius:20px;
    padding: 50px;
    margin-top: 50px;
    width: var(--myWidth);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    float: right;
}
.containersGerman:hover{
    transform: scale(1.005);
}
.introduction{
    height: 500px;
    background-color: #2a2a37;
    border-radius:20px;
    padding: 50px;
    margin-top: 60px;
    margin-left: 30px;
    width: var(--myWidth);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.tests{
    color: grey;
}
.outside{
    display: flex;
}
